.container__footer{
    align-self: flex-end;
    color: red;
    background-color: #27ae60;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: flex-end;
    height: 20vh;
    margin-top: 30px;
    width: 100%;
}

.cointer__footer__description{
    align-items: center;
    display: flex;
    height:70%;
    margin: 20px 0 10px 25px;
    padding: 10px;
    width: 25vw;
}

.footer__description--logo img{
    height: 125px;
    padding: 5px;
    width: auto;
}

.footer__description__info{
    display:flex;
    margin-top: 5px;
    
}

.footer__description__info p{
    color: white;
    text-align: justify;
    font-size: 1.2rem;
    width: 35vh;
}

.cointer__footer__team{
    display: flex;
    flex-direction: column;
    height:fit-content;
    margin: 25px 0 10px 45px;
    width: 15vw;
}

.cointer__footer__team h6{
    color: white;
    font-size: 25px;
}

.cointer__footer__team a{
    color: white;
    font-size: 1.2rem;
    margin-top:3px;
    text-decoration: none;
}

.cointer__footer__media{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height:fit-content;
    margin: 25px 0 10px 45px;
    width: 15vw;
}

.cointer__footer__media h6{
    color: white;
    font-size: 25px;
}

.cointer__footer__media a{
    color: white;
    font-size: 1.2rem;
    margin-top:3px;
    text-decoration: none;
}