
.container__count{
  display: flex;
  flex-direction: column;
}

.container__Count--Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.Cart--Button{
  display: flex;
  justify-content: center;
  width: 100%;
}

#button--Cart{
  margin-top: 5px;
  width: 100%;
}
