@use '../colors/colors' as clr;

.container__item{
  margin: 25px;
  height:220px;
  width: 130px;
}

.container__item--img{
  height: 120px;
  width: 130px;
}

.container__item--info{
  margin: 5px 5px 10px 5px;
}

.container__item--info h2 {
  color: clr.$primary_blueLight;
  display: flex;
  justify-content: flex-start;
}