.itemList--mainTitle{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 45px;
  
}

.container__bodyItems{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 65px 0;
  width: 92%;
}

.container__itemList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}