

.container__item{
  margin: 25px;
  height:220px;
  width: 130px;
}

.item--img{
  height: 85px;
  width: 95px;
}

.container__item--info{
  margin: 5px 5px 10px 5px;
}

.container__item--info h2 {
  color: #232323;
  display: flex;
  font-size: 10px;
  justify-content: flex-start;
}

.container__item--info p {
  color: #454545;
}