@use '../../colors/colors.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$font-stack:Helvetica, sans-serif;

.container__navBar{
  background-color: #097b50;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
}

.container__navBar--list{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  text-decoration: none;
}

.navBar--list{
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 100%;
  justify-items: center;
  list-style: none;
  margin: 0 30px;
  padding: 5px;
  text-decoration: none;
  width: 100%;
}

.navBar--list:hover{
  background-color: #85c3a4;;
  border-radius: 0  0 6px 6px;
}

@media (min-width: 320px) and (max-width: 480px){
  .navBar--list{
    width: 50px;
  }
}