$primary_white: #ffffff;
$primary_black: #000000;
$primary_greenDark: #1e3932;
$primary_greenLigth: #097b50;
$primary_blueLight: #3fada9;

$secondary_yellow: #f8cb45;
$secondary_orange: #f38e4d;
$secondary_magenta: #e85057;
$secondary_greenLigth: #85c3a4;
$secondary_greenDark: #077b55;