.container__cartWidget{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.icon--cartWidget{
  height: 25px;
  margin-top: 10px;
  text-decoration: none;
  width: 25px;
}

.counter--cartWidget{
  color: white;
  text-decoration: none;
}